---
import Mainlayout from "../layouts/Mainlayout.astro";
import "../css/general.css";
import "../css/style.css";

const data = await fetch(
  "https://uiovvvgmjftrkbiogyqx.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpb3Z2dmdtamZ0cmtiaW9neXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDExMTU1MzUsImV4cCI6MjAxNjY5MTUzNX0.K1gnnZYV5aWSc4jzhiX1H2-WIcr2JXnmrj1BylbJRf0",
    },
  }
).then((res) => res.json());

console.log(data);
---

<Mainlayout title="Shop">
  <section class="grid-container">
    {data.map((item) => (
      <div class="grid-item" key={item.slug}>
        <a href={`/products/${item.slug}`}>
          <img class="image" src={item.image} alt="Produktskud" />
        </a>
        <a href={`/products/${item.slug}`}>
          <h2>{item.title}</h2>
        </a>
        <p><strong>{item.price}DKK</strong></p>
        <p><strong>{item.brand}</strong></p>
      </div>
    ))}
  </section>
</Mainlayout>

<style>
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }

  .grid-item {
    border: 1px solid #ccc; 
    text-align: center; 
  }

  .image {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
