---
import Mainlayout from "../layouts/Mainlayout.astro";
import Filter from "../src/components/Filter.astro";


const data = await fetch(
  "https://uiovvvgmjftrkbiogyqx.supabase.co/rest/v1/products",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpb3Z2dmdtamZ0cmtiaW9neXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDExMTU1MzUsImV4cCI6MjAxNjY5MTUzNX0.K1gnnZYV5aWSc4jzhiX1H2-WIcr2JXnmrj1BylbJRf0",
    },
  }
).then((res) => res.json());

console.log(data);
---

<Mainlayout title="SHOP">
  <section class="grid-container">
    {data.map((item) => (
      <div class="grid-item" key={item.slug}>
        <a href={`/products/${item.slug}`}>
          <img class="image" src={item.image} alt="Produktskud" />
        </a>
        <div class="item-info">
          <a href={`/products/${item.slug}`}>
            <h3 class="h3">{item.brand_front}</h3>
          </a>
          <h4 class="h4">{item.price}</h4>
     
        </div>
      </div>
    ))}
  </section>
</Mainlayout>
<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding-bottom: 20px;
}

.grid-item {
  text-align: center;
  padding: 20px;
  background-color: var--(background-color);
}

.image {
  width: 100%;
  height: 550px; 
  object-fit: cover;
  display: block;
}

.item-info {
  padding: 10px;
  text-align: center;
}

.h4 {
  font-family: var(--font-family-light);
  font-weight: 100 !important;
}

.h3 {
  font-weight: 300 !important;
  font-family: var(--font-family-roman);
}


@media only screen and (max-width: 767px) {
  .grid-item {
    padding: 10px; 
  }

  .image {
    width: 100%;
    height: auto;
  }
}

