---
const {data} = Astro.props;
---

<section class="grid-container" id="articles-container">
    {
		data.map((data)=>{
			return <Card item={data}/>;
		})
	}
	
        <article
          class={`grid-item ${item.subsub_category}`}
          data-category={item.subsub_category}
        >
          <a href={`/products/${item.slug}`}>
            <img class="image" src={item.image} alt="Produktskud" />
          </a>
          <div class="item-info">
            <a href={`/products/${item.slug}`}>
              <h3 class="h3">{item.brand_front}</h3>
            </a>
            <h4 class="h4">{item.price} </h4>
            {item.soldout_1 && (
              <h4 class="soldout">
                {item.soldout_1.toLowerCase() === "soldout"
                  ? "Sold Out"
                  : item.soldout_1}
              </h4>
            )}
            {item.price && item.price.toLowerCase() !== "soldout" && (
              <button type="button" name="btn">
                <p>SHOP</p>
              </button>
            )}
          </div>
        </article>
      ))
    }
  </section>